{{#> body }}
<script>
  function computeStyle(amount){
    let max = 0
    document
      .querySelectorAll('[data-amount]')
      .forEach(el => {
         const candidate = Number(el.attributes['data-amount'].value)
         max = Math.max(Math.abs(candidate), max)
      })

    const ratio = 100 * amount / max
    const width = Math.abs(ratio / 2)
    const left = amount > 0 ? 50 : 50-width
    console.log({amount, ratio, max})
    return `width: ${width}%; left: ${left}%`
  }
</script>

<header>
  <h1>Balance</h1>
  <span>{{project.name}}</span>
</header>
<nav>
  <a href="/project/{{project.id}}" >Back</a>
  <a href="/project/{{project.id}}/reim" >Reimburse</a>
  <a href="/project/{{project.id}}/settings" >Settings</a>
</nav>
<div class="grid gap-2 mt-8">
  {{#each expenses}}
  <article class="relative flex gap-8 py-2 items-center {{#ifNeg this.[1]}}flex-row-reverse{{/ifNeg}}" x-data="{}" data-amount="{{this.[1]}}">
    <div class="w-full {{#ifNeg this.[1]}}{{else}}text-right{{/ifNeg}}">{{this.[0]}}</div>
    <div class="w-full {{#ifNeg this.[1]}}text-right{{/ifNeg}}">{{currency ../project.currency this.[1]}}</div>
    <div class="absolute bg-error/50 data-[positive]:bg-primary/30 h-full" :style="computeStyle({{this.[1]}})" :data-positive="{{this.[1]}} > 0"></div>
  </article>
  <hr class=""></hr>
  {{/each}}
</div>
{{/body}}