{{#> head title="Project"}}
 <link rel="preload" href="lines/{{lines.0.id}}" as="fetch" />
{{/head}}
<body>
  <section>  
    <header>
      <h1>{{project.name}}</h1>
      <div class="flex justify-between">
        <span>Spendings</span>
        <a class="link" href="/assets/ah-card.jpg" target="_blank">AH code</a>
      </div>
    </header>
    <nav>
      <a href="balance/">Balance</a>
      <a href="settings/">Settings</a>
    </nav>

    <form>
      <input type="search" class="input input-bordered w-full" name="q" placeholder="Search ..." autocomplete="off" value="{{q}}"/>
    </form>

    <div class="flex flex-col gap-2 pb-12 h-full overflow-y-scroll px-0">
      <a href="add-line/" class="btn btn-primary my-2 mx-4 h-16 flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
      </a>
      {{#each lines}}
      <a href="lines/{{this.id}}" class="odd:bg-primary/10 even:bg-secondary/10 py-2 px-4">
        <article class="grid">
          <div class="flex justify-between">
            <h3 class="text-primary font-semibold text-xl">{{this.name}}</h3>
            <span class="{{#if (gt this.myImpact 0) }}text-primary{{else}}text-red-400{{/if}}">{{this.myImpactStr}}</span>
          </div>
          <div class="flex justify-between text-sm">
            <p>{{paidBy}}</p>
            <p>{{this.created_at}}</p>
          </div>
        </article>
      </a>
      {{/each}}
    </div>
    {{#if (empty lines)}}
    <span class="text-center">You don&apos;t have any spending yet.</span>
    {{/if}}

  </section>
</body>