{{#> body }}
<h1>{{project.name}}</h1>
<div class="flex justify-between">
  <a href="/" class="link">Back</a>
  {{#ifDefined search}}
  <a href="?" class="link">Close search</a>
  {{else}}
  <a href="?q" class="link">Search</a>
  {{/ifDefined}}
  <a href="/project/{{project.id}}/balance" class="link">Balance</a>
</div>
{{#ifDefined search}}
<form class="my-4" action="" method="get">
  <input type="search" class="input input-bordered w-full" name="q" value="{{search}}" autofocus=""/>
</form>
{{/ifDefined}}
<div class="grid gap-4 mt-8">
  {{#each lines}}
  <a href="{{../project.id}}/line/{{this.id}}">
    <article class="grid">
      <div class="flex justify-between">
          <h3>{{this.name}}</h3>
        <span>{{#currency this.currency}}{{this.amount}}{{/currency}}</span>
      </div>
      <div class="flex justify-between">
        <p>Paid by {{this.paid}}</p>
        <p>{{#date "D MMM"}}{{this.created_at}}{{/date}}</p>
      </div>
    </article>
  </a>
  <hr class="last:hidden"></hr>
  {{else}}
  No lines
  {{/each}}
</div>
<a href="{{project.id}}/line/{{this.nextId}}">
  <button class="absolute right-4 bottom-4 btn btn-primary btn-circle">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg>
  </button>
</a>
{{/body}}