{{#> body }}
<script>
  function computeSplit(total){
   const checked = document.querySelectorAll('input[name=for]:checked')
   const amount = checked.length === 0 ? 0 : total / checked.length
   
   document.querySelectorAll('input[name=for]').forEach(el => {
    const participant = el.attributes['data-for'].value
    const input = document.querySelector('input[name="participants|'+participant+'"]')
    input.value = el.checked ? amount : 0
   })
  }
</script>

<h1>{{project.name}}</h1>
<a href="/project/{{project.id}}">Back</a>
<form class="grid" method="post" action="">
  <input type="hidden" name="project_id" value="{{project.id}}" />
  <input type="hidden" name="id" value="{{line.id}}" />
  <label>
    Title
    <input name="name" value="{{line.name}}" />
  </label>
  <label>
    Amount
    <input name="amount" value="{{line.amount}}" inputmode="numeric" pattern="[0-9]*" type="text"  />
  </label>
  <label>
    Currency
    <select name="currency" value="{{line.currency}}">
      {{#each currencies}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </label>
  <label>
    Date
    <input type="date" name="created_at" value="{{line.created_at}}" />
  </label>
  <label>
    Paid by
    <select value="{{line.paid}}" name="paid">
      {{#each project.participants}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </label>
  <ul x-data='{ split: {{line.split}} }'>
    <input type="hidden" name="split" :value="split"/>
    {{#each project.participants}}
    <li x-data="{ s: split.find(e => e.participant === '{{this}}')}">
      <label>
        <input name="participant" :data-for="s.participant" type="checkbox" :checked="s.amount > 0" @click="computeSplit({{line.amount}})"/>
        {{this}}
      </label>
      <input name="participants|{{this}}" :value="s.amount" inputmode="numeric" pattern="[0-9]*" type="text"/>
      {{../line.currency}}
    </li>
    {{/each}}
  </ul>
  <div>
    <button>Save</button>
  </div>
</form>
{{/body}}