{{#> body }}
<script>
  function requestName(event){
    const name = prompt('New participant name')
    if(name==null) return event.preventDefault();
    document.querySelector('input[name=participant]').value = name
  }
</script>

<header>
  <h1>Balance</h1>
  <span>{{project.name}}</span>
</header>
<div class="flex justify-between">
  <a href="/project/{{project.id}}" class="link">Back</a>
  <a href="/project/{{project.id}}/reim" class="link">Reimbursements</a>
  <a href="/project/{{project.id}}/settings" class="link">Settings</a>
</div>
<div class="grid gap-4 mt-8">
  {{#each balance}}
  <hr class="hidden first:block"></hr>
  <article class="flex items-center justify-between">
    <div class="grid">
      <span class="text-xl text-primary">{{this.to}}</span>
      <span class="text-sm">owes</span>
      <span class="text-xl text-primary">{{this.from}}</span>
    </div>
    <div class="text-xl">
      {{currency "IDR" this.amount}}
    </div>
  </article>
  <hr class=""></hr>
  {{/each}}
</div>
{{/body}}