{{#> body }}
<script>
  function computeSplit(total){
   const checked = document.querySelectorAll('input[data-included]:checked')
   const amount = checked.length === 0 ? 0 : total / checked.length
   
   document.querySelectorAll('input[data-included]').forEach(el => {
    const participant = el.attributes['data-included'].value
    const ouput = el.nextElementSibling.nextElementSibling.nextElementSibling
    ouput.value = el.checked ? amount : 0
   })
  }
</script>

<a href="/project/{{project.id}}" class="link"><h1>{{project.name}}</h1></a>
<form class="grid" method="post" action="">
  <input type="hidden" name="project_id" value="{{project.id}}" />
  <input type="hidden" name="id" value="{{line.id}}" />
  <label class="form-control">
    <span class="label label-text">Title</span>
    <input name="name" class="input input-bordered" value="{{line.name}}" />
  </label>
  <label class="form-control">
    <span class="label label-text">Amount</span>
    <input name="amount" value="{{line.amount}}"  class="input input-bordered" inputmode="numeric" pattern="[0-9]*" type="text"  />
  </label>
  <label class="form-control">
    <span class="label label-text">Currency</span>
    <select name="currency" value="{{line.currency}}" class="select select-bordered">
      {{#each currencies}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </label>
  <label class="form-control">
    <span class="label label-text">Date</span>
    <input type="date" name="created_at" value="{{line.created_at}}" class="input input-bordered" />
  </label>
  <label class="form-control">
    <span class="label label-text">Paid by</span>
    <select value="{{line.paid}}" name="paid"  class="select select-bordered">
      {{#each project.participants}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </label>
  <ul class="grid gap-4 mt-4" x-data="{ split: {{line.split}} }">
    {{#each project.participants}}
    <li class="flex items-center gap-4" x-data="{ splitLine: split.find(s => s.participant === '{{this}}')}" >
      <input id="part-{{@index}}" data-included="{{this}}" :checked="splitLine.amount > 0" type="checkbox" onclick="computeSplit({{../line.amount}})" class="checkbox"/>
      <label for="part-{{@index}}" class="flex items-center gap-4">
        {{this}}
      </label>
      <input type="hidden" name="split[{{@index}}][participant]" value="{{this}}"/>
      <input name="split[{{@index}}][amount]" :value="splitLine.amount" class="input input-bordered ml-auto" inputmode="numeric" pattern="[0-9]*" type="text"/>
      <span>{{../line.currency}}</span>
    </li>
    {{/each}}
  </ul>
  <div class="mt-8">
    <button class="btn btn-primary">Save</button>
  </div>
</form>
{{/body}}