<!DOCTYPE html>
<html>
<head>
  {{> common-head title="Balance"}}
</head>
<body hx-ext="head-support" hx-boost="true">
  <section>  
    <header>
      <h1>Settings</h1>
      <span>{{project.name}}</span>
    </header>
    <nav>
      <a href=".." >Back</a>  
    </nav>

    <form>
      <h3 class="mt-4">I am</h3>
      <select name="me" class="select select-bordered" hx-put="/projects/{{project.id}}/me" hx-swap="none"> 
        {{#each project.participants}}
        <option value="{{this}}" {{#if (eq this ../me)}}selected=""{{/if}}>{{this}}</option>
        {{/each}}
      </select>
    </form>
    <div>
      <h3 class="flex justify-between mt-4">
        Participants
        <a class="link link-primary text-base" hx-target="section" hx-select="section"  hx-prompt="Name of new participant" hx-post="/projects/{{project.id}}/participant">add</a>
      </h3>
      <fieldset class="grid mt-4 border rounded-xl px-4 input-bordered">
        {{#each project.participants}}
        <article class="justify-between flex items-center gap-4 py-4 border-b last:border-b-0 input-bordered cursor-pointer">
          <span>{{this}}</span>
          <a class="link link-primary" hx-target="closest article" hx-swap="delete" hx-confirm="Are you sure you want to remove {{this}} !?" hx-delete="/projects/{{../project.id}}/participant/{{this}}">remove</a>
        </article>
        {{/each}}
      </fieldset>
    </div>
    <div>
      <h3 class="mt-4">Danger zone</h3>
      <button hx-confirm="Are you sure you want to archive the project?" hx-delete="/projects/{{project.id}}" hx-push-url="/" class="btn btn-accent">Archive project</button>
    </div>
  </section>
</body>
</html>