{{#> head title="Balance"}}
<script>

</script>
{{/head}}

<body>
  <section>  
    <header>
      <h1>Settings</h1>
      <span>{{project.name}}</span>
    </header>
    <nav>
      <a href=".." >Back</a>  
    </nav>
    <div>
      <h3 class="flex justify-between mt-4">
        Participants
        <a class="link link-primary text-base" hx-target="section" hx-select="section"  hx-prompt="Name of new participant" hx-post="/projects/{{project.id}}/participant">add</a>
      </h3>
      <fieldset class="grid mt-4 border rounded-xl px-4 input-bordered">
        {{#each project.participants}}
        <article class="justify-between flex items-center gap-4 py-4 border-b last:border-b-0 input-bordered cursor-pointer">
          <span>{{this}}</span>
          <a class="link link-primary" hx-target="closest article" hx-swap="delete" hx-confirm="Are you sure you want to remove {{this}} !?" hx-delete="/projects/{{../project.id}}/participant/{{this}}">remove</a>
        </article>
        {{/each}}
      </fieldset>
    </div>
    <form>
      <label class="form-control">
        <span class="label label-text">I am</span>
        <select name="me" class="select select-bordered" hx-put="/projects/{{project.id}}/me" hx-swap="none"> 
          {{#each project.participants}}
          <option value="{{this}}" {{#if (eq this ../me)}}selected=""{{/if}}>{{this}}</option>
          {{/each}}
        </select>
      </label>
    </form>
  </section>
</body>
